/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 612px) {
    .shop-content_list-crystals,.shop-content_list-coins{
        grid-template-columns: repeat(1, 1fr) !important;
    }
    .header-button_home,.header-button_back{
        margin: 20px 5px !important;
        width: 45px !important;
        font-size: 0 !important;
    }
    .shop-container{
        margin: 60px auto 0 !important;
    }
    .shop-navigation{
        position: absolute;
        top:90px;
        left: 0;
        width: 100% !important;
    }
    .shop-navigation_item{
        margin: 0 !important;
        border-radius: 0px !important;
        font-size: 14px !important;
        text-overflow: clip;
    }
    .header-block_coins,.header-block_crystals{
        position: relative;
        width: 130px !important;
        font-size: 12px;
    }
    .header .header-block_coins button, .header .header-block_crystals button {
        height: 20px !important;
        width: 20px !important;
        margin: 7px 10px 0 0 !important;
        font-size: 14px !important;
    }
    .header .header-block_coins img, .header .header-block_crystals img {
        position: absolute;
        top: -12px !important;
        left: 0;
        height: 60px;
    }
    .header .header-block_coins .coins-count, .header .header-block_coins .crystals-count, .header .header-block_crystals .coins-count, .header .header-block_crystals .crystals-count{
        width: 50px;
        margin:4px 0px 0 40px !important;
    }
    .header .header-block_coins .coins-count p, .header .header-block_coins .crystals-count p, .header .header-block_crystals .coins-count p, .header .header-block_crystals .crystals-count p{
        font-size: 10px !important;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 612px) and (max-width: 767.98px) {
    .shop-content_list-crystals,.shop-content_list-coins{
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .header-button_home,.header-button_back{
        margin: 20px 5px !important;
        width: 45px !important;
        font-size: 0 !important;
    }
    .shop-navigation_item{
        font-size: 14px !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .shop-content_list-crystals,.shop-content_list-coins{
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .shop-content_list-crystals,.shop-content_list-coins{
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) { 
    .shop-content_list-crystals,.shop-content_list-coins{
        grid-template-columns: repeat(5, 1fr) !important;
    }
}
@media (min-width: 2000px) { 
    .shop-content_list-crystals,.shop-content_list-coins{
        grid-template-columns: repeat(6, 1fr) !important;
    }
}
@media (min-width: 2400px) { 
    .shop-content_list-crystals,.shop-content_list-coins{
        grid-template-columns: repeat(7, 1fr) !important;
    }
}
@media (min-width: 3400px) { 
    .shop-content_list-crystals,.shop-content_list-coins{
        grid-template-columns: repeat(9, 1fr) !important;
    }
}