@import '../styles/media.scss';
@import '../styles/fonts.scss';
@import '../styles/header.scss';
@import '../styles/shop-container.scss';
// all styles
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgba(36, 35, 51, 1);
}
.page{
  font-family: 'LeksaSans', sans-serif;
  background-image:  url(../images/background-left.png), url(../images/background-right.png),url(../images/background.png);
  background-repeat: no-repeat,no-repeat,repeat-y;
  background-size: 60% 70%,500px 55%,cover;
  background-position:left bottom, right center,center center;
  height: 100vh;
  background-clip: content-box;
  box-shadow: 100px 20px -30px 20px lightslategray;
}

// icons
.crystal-mini-icon{
  position: absolute;
  top:-44px;
  left: 102px;

  height: 20px;
  width: 20px;
}
.material-icons{
  position: absolute;
  top:12.5px;
  left: 107px;
  color: green;
}
// tabs

.tabs>#content-1:target~.tabs__links>a[href="#content-1"],
.tabs>#content-2:target~.tabs__links>a[href="#content-2"],
.tabs>#content-2:target~.tabs__links>a[href="#content-3"],
.tabs>#content-2:target~.tabs__links>a[href="#content-4"],
.tabs>#content-3:target~.tabs__links>a[href="#content-5"] {
    background-color: #bbdefb;
    cursor: default;
}

.tabs>div:not(.tabs__links),#tab-0{
  display: none;
  order: 1;
}

.tabs>div:target {
  display: grid;
}

  